<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Index Page</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="container">
        <form id="tranForm" class="mb-3">
            <div class="form-group">
                <label for="targetService">이관할 서비스 선택</label>
                <select id="targetService" name="targetService" class="form-control">
                    <option value="aiService">AiService DB</option>
                    <option value="aiKafkaService">AiService Kafka</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dbProfile">이관 DB 선택</label>
                <select id="dbProfile" name="dbProfile" class="form-control">
                    <option value="real">REAL</option>
                    <option value="dev">DEV</option>
                </select>
            </div>
            <button type="button" onclick="submitForm()" class="btn btn-primary mb-3" >이관하기</button>
        </form>
        <div id="result"></div>
    </div>

    <div class="container">
        <hr/>
        <br/>
        <h3>AiService Real 테이블 확인 <button type="button" onclick="showAiServiceRealData()" class="btn btn-primary mb-3" >REAL 데이터 가져오기</button></h3>

        <div id="real-data-container" class="table-container table-responsive">
            <table id="real-data-table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>차시 SEQ</th>
                        <th>차시 Title</th>
                        <th>차시 Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <div class="container">
        <hr/>
        <br/>
        <h3>AiService Dev 테이블 확인 <button type="button" onclick="showAiServiceDevData()" class="btn btn-primary mb-3" >DEV 데이터 가져오기</button></h3>
        <div id="dev-data-container" class="table-container table-responsive">
            <table id="dev-data-table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>차시 SEQ</th>
                        <th>차시 Title</th>
                        <th>차시 Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>